.sliding-toggle-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  width: 76px;
  height: 34px;
  transition: background-color 300ms ease;
  border-radius: 20px;
  background-color: $light-grey;
  color: $white;

  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.sliding-toggle-ball-active {
  background-color: $light-blue;
}

.sliding-toggle-ball {
  position: absolute;
  top: 3px;
  right: 0;
  left: 0;

  width: 27px;
  height: 27px;
  transition: transform 300ms ease;
  border-radius: 50%;

  background-color: $white;
  color: $light-blue;

  z-index: $zindex-base;

  .sliding-toggle-ball-active & {
    transform: translateX(44px);
  }

  .sliding-toggle-ball-inactive & {
    transform: translateX(5px);
  }
}

.sliding-toggle-label {
  position: absolute;
  top: 50%;

  width: 27px;
  transform: translateY(-50%);

  font-size: 12px;
  text-align: center;
}

.sliding-toggle-active-label {
  left: 7px;
}

.sliding-toggle-inactive-label {
  right: 5px;
}
