.tag-picker {
  display: flex;

  max-width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  transition: color 500ms ease, border-color 500ms ease;
  border: 1px solid $light-grey;
  color: $light-grey;

  cursor: pointer;
}

.tag:hover,
.tag-selected {
  border-color: $light-blue;
  color: $light-blue;
}
