{
  "env": {
    "test": {
      "presets": [
        "react",
        ["env", {
          "targets": {
            "node": "8.6"
          }
        }]
      ],
    },
  },
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ]
}
