.card-counter {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  padding: 10px;
  box-shadow: 0 0 6px $light-grey;
}

.card-counter-close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px 10px 0;

  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;

    path {
      stroke-width: 2px;
      stroke: $light-grey;
    }
  }
}

.card-counter-header {
  width: 100%;

  h3 {
    margin: 0;

    font-size: 16px;
  }
}

.card-counter-content {
  transition: filter 500ms ease;

  .tag {
    margin-right: 15px;
  }
}

.card-counter-content-invalid {
  filter: blur(4px);
}

.card-counter-question {
  display: inline-block;

  margin-bottom: 10px;
  color: $dark-grey;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-counter-values {
  display: flex;
  align-items: center;
}

.card-counter-guess-correct {
  .tag-selected {
    border-color: $light-blue;
    color: $light-blue;
  }
}

.card-counter-guess-incorrect {
  .tag-selected,
  .tag-selected:hover {
    border-color: $soft-red;
    color: $soft-red;
  }
}

.card-counter-guess-result {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  .card-counter-guess-correct & {
    color: $light-blue;
  }

  .card-counter-guess-incorrect & {
    color: $soft-red;
  }
}
