.home-content-container {
  .top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .player-balance {
    font-size: 18px;

    @media (max-width: $screen-tiny-max) {
      font-size: 14px;
    }
  }

  .player-bet {
    .input {
      width: 100px;
      margin-right: 15px;

      @media (max-width: $screen-tiny-max) {
        margin-right: 10px;
      }
    }
  }

  .hands {
    margin-top: 30px;
  }

  .hand-container {
    margin-bottom: 20px;
  }
}
