<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>AceTen Blackjack</title>
    <meta name="description" content="This is a test description.">

    <meta name="og:url" content="https://www.acetenblackjack.com">
    <meta name="og:type" content="website">
    <meta name="og:title" content="AceTen Blackjack">
    <meta name="og:description" content="An online, highly customizable blackjack game. Learn basic strategy and card counting techniques while you play!">
    <meta name="og:image" content="http://res.cloudinary.com/personal-sites/image/upload/s--Lez8pFua--/v1488649399/aceten-og-image_zdq99i.jpg">
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
